@import './style/Post.scss';

* {
  margin: 0;
  // height: 100%;
}
html, body, #root, #app,.mainbody{
  margin: 0;
  /* set full screen */
  width: 100%;
  height: 100%;
}
.App{
  background-color: #fafafa;
  // height: 100vh;
}

.app-header{
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .app-header-image{
    // background-color: #fff;
    object-fit: contain;
  }
}